<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Mi Tienda</h1>
        <nav>
            <a href="/products">Productos</a> |
            <a href="/carts">Carrito</a>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        <p>2024 Mi Tienda</p>
    </footer>
</body>
</html>
