<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Aplicación</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener un archivo CSS en /public/css/styles.css -->
</head>
<body>
    {{{body}}} <!-- Donde se inyectará el contenido de las vistas -->
    <script src="/socket.io/socket.io.js"></script> <!-- Socket.io cliente -->
    <script src="/js/main.js"></script> <!-- Archivo JavaScript cliente -->
</body>
</html>
