<!-- views/home.handlebars -->

<h1>Bienvenido a la Aplicación de Productos y Carritos</h1>

<div id="messages"></div>

<form id="message-form">
    <input type="text" id="message-input" placeholder="Escribe un mensaje" required>
    <button type="submit">Enviar</button>
</form>
